{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": "off"
    }
}
